* {
    box-sizing: content-box;
    margin: 0;
    font-family: "Inter", serif;
    font-size: 1rem;
    color: #030616;
}

body {
    height: 100vh;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
}

a {
    color: #4E80EE;
    text-decoration: none;
}

hr {
    height: 1px;
    background-color: #D2D5DA;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    height: 20%;
    text-align: center;
    justify-content: center;
}

.body {
    background-color: #F8FAFC;
    height: 80%;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 10rem;
    height: 40%;  
    
}


